<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%- defineContent('title')%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
    <script src="/public/js/libraries/jquery.js"></script>
    <script src="/public/js/libraries/bootstrap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%- defineContent('cssLinks'); %>

</head>
<body>



    <%- defineContent('body') %>


    


    <script src="/public/js/animations/sidebar.js"></script>
    <%- defineContent('jsLinks'); %>
</body>
</html>







