<%-contentFor('title') %>
404 Error

<%- contentFor('body') %> 

    <div class="container" style="margin-top: 300px;">
        <h1 class="text-center">404 Error</h1>
    
        <div class="text-center">
            <a href="/" class="btn btn-danger">Home</a>
        </div>
    </div>
